<div class="col-md-4">
    <div class="mb-4 currency-box">
        <i class="fas fa-{{ currency }}-sign currency-sign"></i>
        <br/>
        <span class="currency-ratio" id="{{ currency }}">{{ ratio }}</span>
    </div>
</div>