{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .currency-box{
            text-align: center;
        }
        .currency-sign {
            color: #7DB636;
        }
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;

            display: flex;
            align-items: center;
            text-align: center;
        }
        a.btn {
            margin-bottom: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <a href="{{ path('fetch') }}" class="btn btn-success">Fetch the most recent data from API's</a>
    <br>
    <div class="row currency-row">
        {% for currency, ratio in ratios %}
            {% include 'includes/currency_holder.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let update = function () {
            $.ajax({
                url: '/',
                dataType: 'json',
                method: 'get',
                success: function (data) {
                    $.each(data, function (currency, ratio) {
                        $('#' + currency).text(ratio);
                    })
                },
                error: function () {

                }
            });
        };
        $(document).ready(function () {
            setInterval(update, 5000);
        });
    </script>
{% endblock %}